/* BudZz.css */

body {
  /* background: url("../img/beer_background.jpg") no-repeat center fixed; */
  background: url("../img/Budzz_BG_Flipped.jpg") no-repeat center fixed;
  background-size: cover;
  /* padding-top:40px; */
}

#content{
  width:45%;
  margin-right:55%;
  background-color:black;
  /* border-right:white solid 2px; */
}

p h1 hr li{
  color:white;
}

/* ------------------------------------------
HEADER 
------------------------------------------ */
header {
  background: black;
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: white;
  position: relative;
  width:45%;
  margin-right:55%;
  margin-top:0;
  /* border-right:white solid 2px; */
}

#budzz-logo{
  margin-bottom:40px;
  margin-top:20px;
  width: 200px;
  height:200px 
}
/*------------------------------------------
GOOGLE SIGN IN 
-------------------------------------------*/
#google-signin {
  text-align: center;
  position:absolute;
  top:2px;
  left:10px;
}

#google-signin p {
  font-size: 15px;
  color: white;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  text-align:left;

}
#google-details {
  color: white;  
  display:flex;
  align-items: flex-start;
  margin-top:5px;
}

#profile-img {
 display:flex;
 align-items: flex-start
}

#profile-img img {
  width: 20px;
  border-radius: 50%;
  top:0;
}

#current-user {
  font-size: 15px;
  margin-right:10px;
}


/* ------------------------------------------
DRINK SEARCH 
------------------------------------------ */
#drinks-row {
  margin-top: 50px;
}

.drinks {
  padding: 0 50px;
  text-align: left;
  margin-bottom:75px;
  color: white;
 
}
input#topic-input{
  width:100%;
  margin-bottom:20px;
}

#add-topic {
  border-radius: 5px;
  width:100%;
}

.error {
  color: red;
  margin: auto auto;
}

h1#favorite-drink-text{
  font-size:35px;
  color:white;
  margin-top:100px;
}

/* ------------------------------------------
DRINK LIST
------------------------------------------ */
div#drinks-row.container{
  margin-top:0;
}
h1 {
  font-size: 35px;
  color:white;
}

#drinks {
  /* background: rgb(210, 180, 140, 0.6); */
  /* border: 1px grey solid; */
  color: black;
  min-height: 310px;
  padding-bottom: 10px;
}

#drinks p {
  color: white;
}

#drinks img {
  width: 100%;
}

hr {
  color: white;
  width: 100%;
  border: white 1px solid;

}


li {
  color: white;
}

#drinks{
  min-height:175px;
}

/* ------------------------------------------
MAP 
------------------------------------------ */
.map {
  position: center;
  margin: 10px 0px 0px 0px;

}

#goog-maps{
  padding: 0 45px;
}

/*---------------------------------------------
 Maps positioning
 ---------------------------------------------*/

#map {
  height: 500px;
  margin-top: 20px;
  padding:20px;
}

/* ------------------------------------------
FOOTER 
------------------------------------------ */
footer {
  background: black;
  background-size: cover;
  padding: 30px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #fcf0c8;
  width:45%;
  margin-right:55%;
  /* border-right:white solid 2px; */
}

@media only screen and (max-width: 850px) {
  #content, header, footer{
   width:100%;
   margin:0;
  }
}