/* BudZz.css */

body {
  background: url("../img/beer_background.jpg") no-repeat center fixed;
  background-size: cover;
}

/* ------------------------------------------
HEADER 
------------------------------------------ */
header {
  background: black;
  background-size: cover;
  padding: 0px 0px 20px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: white;
  position: relative;
}

#current-user {
  font-size: 15px;
}

/*------------------------------------------
GOOGLE SIGN IN 
-------------------------------------------*/
#google-signin {
  text-align: center;
}

#google-signin p {
  font-size: 15px;
  color: white;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
#google-details {
  color: white;
}

#profile-img img {
  width: 50px;
  border-radius: 50%;
}

/* ------------------------------------------
DRINK LIST
------------------------------------------ */

h2 {
  font-size: 40px;
}

#drinks {
  background: rgb(210, 180, 140, 0.6);
  border: 1px grey solid;
  color: black;
  min-height: 310px;
  padding-bottom: 10px;
}

#drinks p {
  color: white;
}

#drinks img {
  width: 100%;
}

hr {
  color: white;
  width: 90%;
  border: white 1px solid;
}

#bars-header,
#drinks-header {
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
}

li {
  color: black;
}

/* ------------------------------------------
DRINK SEARCH 
------------------------------------------ */
#drinks-row {
  margin-top: 50px;
}

#drinks-input {
  padding: 20px;
  text-align: center;
  background: rgb(210, 180, 140, 0.6);
  border: 1px grey solid;
  min-height: 310px;
  color: black;
}

form #search-field {
  height: 35px;
}

#para1 {
  color: white;
}

#add-topic {
  border-radius: 5px;
}

.error {
  color: red;
  margin: auto auto;
}

/* ------------------------------------------
MAP 
------------------------------------------ */
.map {
  position: center;
  margin: 10px 0px 0px 0px;
}

/*---------------------------------------------
 Maps positioning
 ---------------------------------------------*/

#map {
  height: 500px;
  margin-top: 20px;
}

/* ------------------------------------------
FOOTER 
------------------------------------------ */
footer {
  background: black;
  background-size: cover;
  padding: 30px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 120px 0px 0px 0px;
  color: #fcf0c8;
}
